.input {
  width: 450px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  font-size: 30px;
}

@media screen and (max-width: 620px) {
  input {
    width: 50%;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }

  button {
    font-size: 15px;
  }
}