.headerContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.service-title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.service-title:visited {
  color: #000;
}

.service-title:hover {
  color: #000;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 30px;
}

.wrong-access {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@media screen and (max-width: 620px) {
  .wrong-access {
    font-size: 50px;
  }
}